<head>
   <meta charset = "UTF-8">
   <title>Edit Employee</title>
</head>

<body>

  <div class = "editcontainer">
    <h2>Edit Employee</h2>
    <form action="/employee/:id" method="PUT">
      <img class = "icon" src = "{{employee.photo}}" alt="{{employee.lastName}}">
      <br><br>
      <form action="/employee/edit" method="POST">
        <label for="lastName">Last name</label>
        <input id="lastName" name="lastName" type="text" value={{employee.lastName}}>
        <br><br>
        <label for="firstName">First name</label>
        <input id="firstName" name="firstName" type="text" value={{employee.firstName}}>
        <br><br>
        <label for="address">Address</label>
        <input id="address" name="address" type="text" value={{employee.address}}></label>
        <br><br>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" value={{employee.username}}></label>
        <br><br>
        <label for="password">Password</label>
        <input id="password" name="address" type="password" value={{employee.password}}></label>
        <br><br>
        <label><button type="submit"> Update </button></label>
        <label><button> Delete </button></label>
      </form>
  </div>


</body>
  <script src="controllers/employeeManager.js"></script>
</html>
